/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, sans-serif;
}
body{
  background: url("https://picsum.photos/1000/1000/?random") no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative; 
 
}