


<nav class="N/A transparent">
   <div class="nav-wrapper">
     <a href="#" class="brand-logo">Garcia Photography</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a [routerLink]="['/login']"  >Login</a></li>
       <li><a [routerLink]="['/signup']" >Signup</a></li>
       <li><a [routerLink]="['/about-me']" >About Me</a></li>
       <li><a [routerLink]="['/book-a-service']">Book A Service</a></li>
      <li><a [routerLink]="['/private']">My Profile</a></li>

     </ul>
   </div>
 </nav>

 




 

<router-outlet></router-outlet>