<!-- <Section>
<h1>
  Garcia Photography
</h1>
<p>
  Hello my Name is Enrique Garcia, and I'm a professional photographer from Seattle Washington! <br>
  My passion for photography arrose many years ago when I first picked up a camera <br>
  I've been shooting professionally now for 5 years and I love every second of it <br>
  I specialize in weddings, maternity, and family shoots. <br>
  Allow me to capture you a moment that you will then cherish for a lifetime. 

</p>
  
</Section> -->


<div class="box effect5">
  <h1>Garcia Photography</h1>
    <p>
        Hello my Name is Enrique Garcia, and I'm a professional photographer from Seattle Washington! <br>
        My passion for photography arrose many years ago when I first picked up a camera <br>
        I've been shooting professionally now for 5 years and I love every second of it <br>
        I specialize in weddings, maternity, and family shoots. <br>
        Allow me to capture you a moment that you will then cherish for a lifetime. 
      
      <p>
    </div>